In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.formula.api as Smf
from statsmodels.graphics.regressionplots import influence_plot

In [8]:
cars = pd.read_csv("Cars.csv")
cars.head()

   HP        MPG  VOL          SP         WT
0  49  53.700681   89  104.185353  28.762059
1  55  50.013401   92  105.461264  30.466833
2  55  50.013401   92  105.461264  30.193597
3  70  45.696322   92  113.461264  30.632114
4  53  50.504232   92  104.461264  29.889149

In [11]:
#Rearrange the columns
cars = pd.DataFrame(cars,columns=["hp","vol","sp","wt","mpg"])
cars.head()

   hp  vol  sp  wt  mpg
0 NaN  NaN NaN NaN  NaN
1 NaN  NaN NaN NaN  NaN
2 NaN  NaN NaN NaN  NaN
3 NaN  NaN NaN NaN  NaN
4 NaN  NaN NaN NaN  NaN

In [ ]:
# description of columns
- mpg: mile of the car (mile per gallon)